
<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="For Sale: $329,900, 4 beds, 3 baths, 2,639 above grade sqft home at 5095 East 116th Place Thornton, CO 80233 (MLS# 7298942) - Comfort meets elegance in Thornton's Notts Landing. This home boasts an abundance of space, including 3 bedrooms & a loft on the second floor, a main floor 4th bdm or study, & a bonus room (additl bedroom?) & home theater in the basement.Comfort meets elegance in Thornton's Notts Landing. This home boasts an abundance of space, including 3 bedrooms & a loft on the second floor, a main floor 4th bdm or study, & a bonus room (additl bedroom?) & home theater in the basement. - MLS 7298942 listed by PORCHLIGHT REAL ESTATE GROUP, shared via IDX." />
  <meta property="og:title" content="5095 East 116th Place Thornton, CO 80233 - Denver Real Estate - PorchLight Real Estate Group" />
  <meta property="og:description" content="For Sale: $329,900, 4 beds, 3 baths, 2,639 above grade sqft home at 5095 East 116th Place Thornton, CO 80233 (MLS# 7298942) - Comfort meets elegance in Thornton's Notts Landing. This home boasts an abundance of space, including 3 bedrooms & a loft on the second floor, a main floor 4th bdm or study, & a bonus room (additl bedroom?) & home theater in the basement.Comfort meets elegance in Thornton's Notts Landing. This home boasts an abundance of space, including 3 bedrooms & a loft on the second floor, a main floor 4th bdm or study, & a bonus room (additl bedroom?) & home theater in the basement. - MLS 7298942 listed by PORCHLIGHT REAL ESTATE GROUP, shared via IDX." />
  <meta property="og:image" content="http://images.porchlightgroup.com/resources/property/7298942/A.jpg" />


  <meta name="author" content="PorchLight Real Estate Group">

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />


  <link href="/Styles/Public/Bootstrap/bootstrap.less?v=20140512164902" rel="stylesheet" type="text/css" />

  <link href="/Styles/Public/Public.less?v=20140512164902" rel="stylesheet" type="text/css" />











  <script src="/Scripts/Public/Libs/modernizr_custom_10-2013.js"></script> <!-- Build only contains 3 feature tests: history, localstorage, and cssgradients -->
  <script src="/Scripts/Public/Libs/respond.min.js"></script>
  <script type="text/javascript" src="//fast.fonts.net/jsapi/90645dcd-627b-4434-ab45-05c3c742c39f.js"></script>





  <script type="text/javascript" src="/Scripts/Public/Libs/LAB.min.js"></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&sensor=false&key=AIzaSyD-wN5bHBzTeKB0FR5Pqhojjk62-RqG1II&libraries=geometry"></script>

  <script type="text/javascript">
    // Libs and Scripts



    $LAB.setGlobalDefaults({
      AlwaysPreserveOrder:true
    });



    //console.log('starting globalscripts');

    $LAB.script("https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        .script("/Scripts/Public/Plugins/bootstrap_custom2.min.js?v=20140512164902")
        .script("/Scripts/Public/Plugins/markerwithlabel_packed.js?v=20140512164902")
        .script("https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox-min.js")
        .script("/Scripts/Public/Plugins/Plugins.min.js?v=20140512164902")
        .script("/Scripts/Public/Public.min.js?v=20140512164902").wait(function(){
          //console.log('public_init()', window.PorchLight.ScriptQueue, window.PorchLight.ScriptQueue !== null);

          if (window.PorchLight.ScriptQueue !== null) {
            //console.log('exec scriptqueue()');
            // a subsequent queue has been defined ON PAGE LOAD
            // queue is also triggered after an AJAX navigation event (for supported browsers)
            window.PorchLight.ScriptQueue.runQueue();

            window.PorchLight.ScriptQueue = null; // Done here, remove the queue
          }
          public_init();
        });


    window.PorchLight = {
      ScriptQueue : null,
      CurrentUser : {
        isLoggedIn : false,
        liveChatVars : []
      },
      Preferences : {"SearchPageSize":12,"SearchResultsViewClass":"listView","SearchAutoLoadActive":false,"SearchSortDirection":"Descending","SearchOrderBy":"p.ListPrice","MapControlsVisible":true,"IsHeatMapActive":true,"SlideShowOn":false},
      ModulePaths : {
        Validity : "/Scripts/Public/Plugins/jquery.validity.min.js?v=20140512164902",
        Socialite : "/Scripts/Public/Plugins/socialite.min.js?v=20140512164902",
        GoogleMap : "/Scripts/Public/Plugins/GoogleMap.min.js?v=20140512164902",
        GeoMap : "/Scripts/Public/Plugins/GeoMap.min.js?v=20140512164902"
      },
      Constants : {
        MinExtension: ".min",
        VersionNumber: 20140512164902
      },
      RestrictedPaths : [ // will trigger ajaxredirect to home if user logs out on these pages
        '/Account',
        '/Account/Edit',
        '/Account/ClientEdit',
        '/Account/ChangePasswordForm',
        '/Property/Favorites',
        '/Property/SavedSearches'
      ]
    }

  </script>
  <!--[if lte IE 7]><script src="/Scripts/IE/lte-ie7_public.js"></script><![endif]-->

  <!-- 16x16 -->
  <link rel="shortcut icon" href="https://www.porchlightgroup.com/favicon.ico">
  <!-- 32x32 -->
  <link rel="shortcut icon" href="https://www.porchlightgroup.com/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="https://www.porchlightgroup.com/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.porchlightgroup.com/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.porchlightgroup.com/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.porchlightgroup.com/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.porchlightgroup.com/apple-touch-icon-144x144-precomposed.png">

  <meta name="msapplication-TileImage" content="/apple-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#fff">
  <meta http-equiv="cleartype" content="on">

  <script type="text/javascript">

    var _gaq = _gaq || [];



    _gaq.push(['_setAccount', 'UA-29013749-2']);
    _gaq.push(['_setDomainName', 'porchlightgroup.com']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


  </script>

</head>

<body class="activeController_property activeAction_details" ontouchstart="">
<!--[if lte IE 7]><div class="chromeframe">Important: This website is not optimized for your browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</div><![endif]-->

<header id="mainHeader" class="mainHeader">
  <nav>
    <div class="mainLogoWrap">
      <a href="#" id="mainMenuBtn" class="mainMenuBtn icon icon-list">menu</a>
      <a class="mainLogoLink" href="https://www.porchlightgroup.com/">

        <img id="mainLogo" class="mainLogo" src="/Img/Public/porchlight_logo_vertical_2014.png" alt="PorchLight Real Estate Group" width="107" />

        <img id="mobileLogo" class="mobileLogo" src="/Img/Public/mobileLogo.png" alt="PorchLight Real Estate Group" width="167" height="40" />
      </a>
    </div>
    <ul id="mainMenu" class="mainMenu">
      <li><a href="https://www.porchlightgroup.com/Property/Search?pp=True" class="propertyController navLink activeNav ">Search Homes</a></li>
      <li><a href="https://www.porchlightgroup.com/GeoArea" class="geoareaController navLink ">Neighborhoods</a></li>
      <li><a href="https://www.porchlightgroup.com/Agents" class="agentsController navLink ">Agents</a></li>
    </ul>
    <ul id="subMenu" class="mainMenu subMenu">
      <li><a href="https://www.porchlightgroup.com/About" class="aboutController navLink ">About Us</a></li>
      <li><a href="https://www.porchlightgroup.com/Property/OpenHouses" class="propertyController navLink  ">Open Houses</a></li>
      <li><a href="https://www.porchlightgroup.com/Events" class="eventsController navLink ">Events</a></li>
      <li><a href="https://www.porchlightgroup.com/Classes" class="classesController navLink ">Classes</a></li>

      <li><a href="https://www.porchlightgroup.com/Developments" class="developmentsController navLink ">Developments <small class="newNav">new!</small></a></li>
      <li><a href="http://blog.porchlightgroup.com" class="navLink no-ajaxy">Blog <small class="newNav">new!</small></a></li>
      <li><a href="https://www.porchlightgroup.com/Contact" class="contactController navLink ">Contact Us</a></li>
    </ul>

    <div id="signInContainer" class="signIn">


      <a href="https://www.porchlightgroup.com/Account/SignIn?ReturnUrl=/Property/Details/7298942/CO/80233/Thornton/5095-East-116th-Place" data-action="signin" data-basehref="https://www.porchlightgroup.com/Account/SignIn?ReturnUrl=" class=" no-ajaxy signInBtn accountBtn navLink updateReturnURL anon">sign in</a>
      <a href="https://www.porchlightgroup.com/Account/Register?ReturnUrl=/Property/Details/7298942/CO/80233/Thornton/5095-East-116th-Place" data-action="register" data-basehref="https://www.porchlightgroup.com/Account/Register?ReturnUrl=" class=" no-ajaxy signInBtn accountBtn navLink updateReturnURL anon">register</a>

    </div>


  </nav>



  <ul class="socialLinks">
    <li><a href="https://www.facebook.com/pages/PorchLight-Real-Estate-Group/222237347512" class="icon icon-facebook tip" title="Find us on Facebook" target="_blank"></a></li>
    <li><a href="https://twitter.com/PorchLight_CO" class="icon icon-twitter-2 tip" title="Follow us on Twitter" target="_blank"></a></li>
    <li><a href="https://pinterest.com/porchlightgroup/" class="icon icon-pinterest-2 tip" title="Find us on Pinterest" target="_blank"></a></li>
    <li><a href="https://plus.google.com/113043859646718780598/" class="icon icon-google-plus tip" title="Find us on Google+" target="_blank"></a></li>
    <li><a href="https://vimeo.com/porchlightgroup" class="icon icon-vimeo tip no-ajaxy" title="Find us on Vimeo" target="_blank"></a></li>
  </ul>
</header>


<div class="mainContent clearfix">
<div id="mainContent">







<script type="text/javascript">




  window.PorchLight.propertyDetails = {
    mapPin : [
      {
        "ID": "3cc1e47b-e787-409e-8606-750f7396e4f6",
        "Title": "5095 East 116th Place",
        "LatLng": {
          "IsEmpty": false,
          "X": 39.907496,
          "Y": -104.928127
        },
        "Data": 0
      }]
    //ChartData : Model.ChartData.ToJson().ToMvcHtmlString()
  };


  window.PorchLight.ScriptQueue = $LAB
      .queueScript("/Scripts/Public/Plugins/GoogleMap.min.js?v=20140512164902")
      .queueScript("/Scripts/Public/Plugins/PhotoWidget.min.js?v=20140512164902")
      .queueScript("/Scripts/Public/Modules/Property/Details.min.js?v=20140512164902")
      .queueWait(function () {
        propertyDetails_init();
      });



  window.PorchLight.PageTitle = "5095 East 116th Place Thornton, CO 80233 - Denver Real Estate - PorchLight Real Estate Group";
  window.PorchLight.ActiveController = 'property';

</script>



<div class="propHeader withHighlights">

  <h1 id="pt_3cc1e47b-e787-409e-8606-750f7396e4f6" data-label="5095 East 116th Place" data-isprice="false">5095 East 116th Place </h1>
  <h6>Thornton, CO 80233</h6>


  <ul class="propHighlights shadow">
    <li class="detailPrice">$329,900</li>
    <li><b>4</b>&nbsp;beds</li>
    <li><b>3</b>&nbsp;baths</li>
    <li><b>2,639</b>&nbsp;above grade sqft</li>
    <li><b>$125</b>/sqft</li>
    <li><span class="badge badge-warning tip" title="New to PorchLight within the last 14 days"><span class="hidden-tablet">New to PorchLight</span><span class="visible-tablet">New to PL</span></span></li>
    <li><span class="badge badge-pl"><span class="hidden-tablet">PorchLight Listing</span><span class="visible-tablet">PL</span></span></li>
    <li class="secondaryInfo first tip" title="Status" data-placement="bottom">Active</li>
    <li class="secondaryInfo tip" title="Type" data-placement="bottom">Residential</li>
    <li class="secondaryInfo tip" title="On PorchLight since 6/10/2014" data-placement="bottom">1 Days on PorchLight</li>


  </ul>




  <div class="btns">
    <a href="#" class="icon icon-heart-2 btn btn-icononly btn-error absButton favoriteBtn tip" title="Save&nbsp;favorite" data-retsid="3cc1e47b-e787-409e-8606-750f7396e4f6" data-placement="bottom" style="padding-right:9px;"></a>




    <a href="#" class="icon icon-home btn btn-info contactFormBtn" data-subject="Showing request" data-contacttype="showing" data-message="I'd like to schedule a showing to see the property at 5095 East 116th Place in Thornton. Thank you." data-additionalmessage="&#13;&#10;&#13;&#10;Property: 5095 East 116th Place, Thornton, CO 80233&#13;&#10;MLS ID: 7298942&#13;&#10;Link: https://www.porchlightgroup.com/Agent/Property/Details?RETSPropertyID=3cc1e47b-e787-409e-8606-750f7396e4f6">Schedule a showing</a>
    <a href="#" class="icon icon-comments-3 btn btn-warning contactFormBtn" data-subject="Property inquiry" data-contacttype="propertyinfo" data-message="I'd like more information about 5095 East 116th Place in Thornton. Thank you." data-additionalmessage="&#13;&#10;&#13;&#10;Property: 5095 East 116th Place, Thornton, CO 80233&#13;&#10;MLS ID: 7298942&#13;&#10;Link: https://www.porchlightgroup.com/Agent/Property/Details?RETSPropertyID=3cc1e47b-e787-409e-8606-750f7396e4f6">Request info</a>



    <div class="dropdown shareBtnWrap">
      <a id="dropdown_propdetails" href="#" class="icon icon-share-4 btn btn-white  shareBtn dropdown-toggle" data-toggle="dropdown" data-url="https://www.porchlightgroup.com/Property/Details/7298942/CO/80233/Thornton/5095-East-116th-Place" data-imageurl="//images.porchlightgroup.com/resources/property/7298942/A.jpg" data-message="5095 East 116th Place Thornton, CO 80233">Share
        <span class="icon icon-facebook"></span>
        <span class="icon icon-twitter-2"></span>
        <span class="icon icon-pinterest-2"></span>
        <span class="icon icon-google-plus"></span>
      </a>


      <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdown_propdetails">
        <div class="loadingBtns"></div>
      </div>
    </div>




    <!--<li><a href="#" class="icon-printer">Print</a></li> TODO reimplement-->
  </div>

</div>



<div class="row-fluid propDetailsWrap propHeaderMargin">
<div class="span8 detailsContent">



<div class="propMainContent shadow">
  <div class="tabsWrap statTabs">
    <ul id="amenitiesTabs" class="tabs">
      <li><a class="activeTab" href="#photos"><span class="hidden-phone">25 Photos</span><span class="visible-phone icon icon-images">25</span></a></li>
      <li><a  href="#streetView"><span>Street View</span></a></li>

    </ul>
    <div id="amenitiesContent" class="tabContentUnit amenitiesContent">
      <div id="photos" class="amContent">
        <div class="relWrap">
          <div id="propPhotosDiv" class="photoWidget">
            <div id="propPhotosControl" class="mainImgWrap">
              <img class="mainImg" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/A.jpg"/>
              <button type="button" data-action="prev" class="icon icon-arrow-5 prev"></button>

              <button type="button" data-action="next" class="icon icon-arrow-2 next"></button>


            </div>

            <div class="photoWidgetControls">
              <div class="slideshowProgressBar"></div>

              <button type="button" data-action="slideshow" class="icon icon-play-2 tip btn btn-mini btn-icononly btn-transparent" title="Play slideshow"></button>
              <a class="icon icon-film tip no-ajaxy btn btn-disabled btn-mini btn-transparent pullR " title="Virtual tour not available" style="color: #bbb;">Virtual&nbsp;Tour</a>


              <div class="tbCountWrap"><b class="tbCount">1</b> of <b>25</b></div>
              <div class="thumbContainer">
                <ul>
                  <li><a class="no-ajaxy sel" href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/A.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/A.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/B.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/B.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/C.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/C.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/D.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/D.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/E.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/E.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/F.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/F.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/G.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/G.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/H.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/H.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/I.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/I.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/J.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/J.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/K.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/K.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/L.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/L.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/M.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/M.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/N.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/N.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/O.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/O.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/P.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/P.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/Q.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/Q.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/R.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/R.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/S.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/S.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/T.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/T.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/U.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/U.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/V.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/V.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/W.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/W.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/X.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/X.jpg"/>
                  </a></li>
                  <li><a class="no-ajaxy " href="https://www.porchlightgroup.com//images.porchlightgroup.com/resources/property/7298942/Y.jpg">
                    <img width="80" alt="Photo of 5095 East 116th Place" src="//images.porchlightgroup.com/resources/property/7298942/Y.jpg"/>
                  </a></li>
                </ul>
              </div>

            </div>

          </div>

        </div>
      </div>
      <div id="streetView" class="streetViewWrap displayNone amContent">
        <div id="streetViewDiv" class="streetView gmap"></div>
      </div>
      <div id="walkscore" class="displayNone amContent"></div>
      <div id="greatschools" class="displayNone amContent"></div>
    </div>
  </div>







</div>

<div class="propMainContent propDetails shadow">
  <h6>Property Details</h6>
  <p class="propDescP">Comfort meets elegance in Thornton&#39;s Notts Landing. This home boasts an abundance of space, including 3 bedrooms &amp; a loft on the second floor, a main floor 4th bdm or study, &amp; a bonus room (additl bedroom?) &amp; home theater in the basement.</p>


  <div class="propDescP">
    <span class="badge">Quick Possession</span>
    <span class="badge">Air Conditioning-Central</span>
    <span class="badge">Deck</span>
    <span class="badge">Fence</span>
    <span class="badge">Professional Landscaping</span>
    <span class="badge">Sprinkler System</span>
    <span class="badge">Yard</span>
    <span class="badge">Carpet</span>
    <span class="badge">Tile Floor</span>
    <span class="badge">Wood Floors</span>
    <span class="badge">Double Pane Windows</span>
    <span class="badge">Eating Space / Kitchen</span>
    <span class="badge">Five Piece Bath</span>
    <span class="badge">Open Floor Plan</span>
    <span class="badge">Pet Free</span>
    <span class="badge">Security System</span>
    <span class="badge">Smoke Free</span>
    <span class="badge">Speakers</span>
    <span class="badge">Built-in</span>
    <span class="badge">Vaulted</span>
    <span class="badge">Walk-in Closets</span>
    <span class="badge">Window Coverings</span>
    <span class="badge">Dishwasher</span>
    <span class="badge">Disposal</span>
    <span class="badge">Microwave Oven</span>
    <span class="badge">Refrigerator (Kitchen)</span>
    <span class="badge">Smoke Alarm</span>
    <span class="badge">Stove/Range/Oven</span>
    <span class="badge">Near Public Transit</span>
  </div>



  <div class="detailsListWrap clearfix">
    <ul class="detailsList">
      <li class="odd">
        <div class="rowLabel">MLS ID</div>
        <div>7298942</div>
      </li>
      <li class="">
        <div class="rowLabel">Status</div>
        <div>Active</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Type</div>
        <div>Residential</div>
      </li>

      <li class="">
        <div class="rowLabel">Style</div>
        <div>
          Two Story
        </div>
      </li>
      <li class="odd">
        <div class="rowLabel">Architecture</div>
        <div>Contemporary</div>
      </li>
      <li class="">
        <div class="rowLabel">Structure type</div>
        <div>
          Detached Single Family
        </div>
      </li>
      <li class="odd">
        <div class="rowLabel">Seller</div>
        <div>Individual</div>
      </li>


      <li class="">
        <div class="rowLabel">Area</div>
        <div></div>
      </li>
      <li class="odd">
        <div class="rowLabel">Subarea</div>
        <div>Notts Landing</div>
      </li>
      <li class="">
        <div class="rowLabel">Days on PorchLight</div>
        <div>1 (since 6/10/2014)</div>
      </li>

    </ul>

    <ul class="detailsList">
      <li class="odd">
        <div class="rowLabel">Above grade sqft</div>
        <div>2,639 above grade sqft</div>
      </li>
      <li class="">
        <div class="rowLabel">Total sqft</div>
        <div>3,359 sqft</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Finished sqft</div>
        <div>3,249 sqft</div>
      </li>
      <li class="">
        <div class="rowLabel">Parking</div>
        <div>
          Attached, Garage
          (3&nbsp;spaces)
        </div>
      </li>
      <li class="odd">
        <div class="rowLabel">Lot size</div>
        <div>7,791 sqft (0.18&nbsp;acres)</div>
      </li>
      <li class="">
        <div class="rowLabel">HOA fees</div>
        <div>$27 Monthly</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Year built</div>
        <div>2001</div>
      </li>
      <li class="">
        <div class="rowLabel">Faces</div>
        <div>East</div>
      </li>





    </ul>
  </div>
</div>
<div class="propMainContent propDetails shadow">

  <h6>Additional Details</h6>
  <div class="detailsListWrap clearfix">
    <ul class="detailsList">


      <li class="odd">
        <div class="rowLabel">School District</div>
        <div>Adams 12</div>
      </li>
      <li class="">
        <div class="rowLabel">Elementary School</div>
        <div>Cherry Drive</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Junior High School</div>
        <div>Shadow Ridge</div>
      </li>
      <li class="">
        <div class="rowLabel">High School</div>
        <div>Mountain Range</div>
      </li>


      <li class="odd">
        <div class="rowLabel">Horses</div>
        <div></div>
      </li>
      <li class="">
        <div class="rowLabel">Zoned</div>
        <div>Res</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Taxes</div>
        <div>$2,280</div>
      </li>
      <li class="">
        <div class="rowLabel">County</div>
        <div>Adams</div>
      </li>

    </ul>
    <ul class="detailsList">
      <li class="odd">
        <div class="rowLabel">Heat delivery</div>
        <div>Forced Air</div>
      </li>
      <li class="">
        <div class="rowLabel">Heat fuel</div>
        <div>Gas</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Water</div>
        <div></div>
      </li>
      <li class="">
        <div class="rowLabel">Sewer</div>
        <div></div>
      </li>
      <li class="odd">
        <div class="rowLabel">Avg. utility cost</div>
        <div>n/a</div>
      </li>

      <li class="">
        <div class="rowLabel">Fireplaces</div>
        <div>1</div>
      </li>
      <li class="odd">
        <div class="rowLabel">Basement type</div>
        <div></div>
      </li>
      <li class="">
        <div class="rowLabel">Basement % finished</div>
        <div>87</div>
      </li>




    </ul>







  </div>

</div>
































<div class="propMainContent propDetails shadow">
  <h6>Living space breakdown</h6>
  <table class="propertyTable">
    <thead>
    <tr>
      <td>Floor</td>
      <td>Sqft</td>

      <td class="tableWrap">
        <table>
          <tbody>
          <tr>
            <td>Room</td>
            <td>Dimensions</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr class="spaceRow odd">
      <td>Main</td>
      <td>1,557</td>

      <td class="tableWrap">
        <table>
          <tbody>
          <tr>
            <td>Kitchen</td>
            <td>24&#39; &#215; 10&#39;</td>
          </tr>
          <tr>
            <td>Family Room</td>
            <td>24&#39; &#215; 18&#39;</td>
          </tr>
          <tr>
            <td>Dining Room</td>
            <td>11&#39; &#215; 10&#39;</td>
          </tr>
          <tr>
            <td>Study</td>
            <td>12&#39; &#215; 11&#39;</td>
          </tr>
          <tr>
            <td>Living Room</td>
            <td>18&#39; &#215; 13&#39;</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="spaceRow ">
      <td>Upper</td>
      <td>1,802</td>

      <td class="tableWrap">
        <table>
          <tbody>
          <tr>
            <td>Master Bedroom</td>
            <td>18&#39; &#215; 13&#39;</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="spaceRow odd">
      <td>Basement</td>
      <td>720</td>

      <td class="tableWrap">
        <table>
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    <tr class="spaceRow ">
      <td>Unspecified</td>
      <td>--</td>

      <td class="tableWrap">
        <table>
          <tbody>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>Total</td>
      <td><span class="tooltip" title="Total sqft">3,359</span></td>

      <td class="tableWrap"></td>
    </tr>
    </tfoot>
  </table>

</div>


<div class="propMainContent propDetails detailsDisclaimer shadow">
  <div class="detailsListWrap clearfix">
    Listing Courtesy of PORCHLIGHT REAL ESTATE GROUP

    <p>
      <img src="/Img/Public/idx.gif" width="46" class="pull-left" style="margin-right:20px;" />The content relating to real estate for sale in this website comes in part from the Internet Data eXchange ("IDX") program of METROLIST, INC. Real estate listings held by brokers other than PorchLight Real Estate Group are marked with the IDX Logo. All information subject to change and should be independently verified. This information is being provided for the consumers' personal, non-commercial use and may not be used for any other purpose.
      This publication is designed to provide information with regard to the subject matter covered. It is displayed with the understanding that the publisher and authors are not engaged in rendering real estate, legal, accounting, tax, or other professional services and that the publisher and authors are not offering such advice in this publication. If real estate, legal, or other expert assistance is required, the services of a competent, professional person should be sought.
      The information contained in this publication is subject to change without notice. METROLIST, INC. MAKES NO WARRANTY OF ANY KIND WITH REGARD TO THIS MATERIAL, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. METROLIST, INC. SHALL NOT BE LIABLE FOR ERRORS CONTAINED HEREIN OR FOR ANY DAMAGES IN CONNECTION WITH THE FURNISHING, PERFORMANCE, OR USE OF THIS MATERIAL.
    </p>

    <p>
      <img src="/Img/Public/equalHoustingOpportunity.jpg" width="60" class="pull-left" style="margin-right:20px;" />
      PUBLISHER'S NOTICE: <br />
      All real estate advertised herein is subject to the Federal Fair Housing Act and the Colorado Fair Housing Act, which Acts make it illegal to make or publish any advertisement that indicates any preference, limitation, or discrimination based on race, color, religion, sex, handicap, familial status, or national origin.
      METROLIST, INC. will not knowingly accept any advertising for real estate that is in violation of the law. All persons are hereby informed that all dwellings advertised are available on an equal opportunity basis.
    </p>

    <p>
      © 2014 METROLIST, INC.® – All Rights Reserved <br />
      6455 S. Yosemite St., Suite 500<br />
      Greenwood Village, CO 80111 USA<br />
    </p>
    <p>ALL RIGHTS RESERVED WORLDWIDE. No part of this publication may be reproduced, adapted, translated, stored in a retrieval system or transmitted in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the prior written permission of the publisher. The information contained herein including but not limited to all text, photographs, digital images, virtual tours, may be seeded and monitored for protection and tracking.	</p>
  </div>
</div>





</div>
<div class="span4 detailsSidebar">
  <div class="tabsWrap statTabs">

    <div class="tabContentUnit amenitiesContent">
      <div id="propertyDetailsMap" class="gmap detailsMap"></div>
    </div>
    <ul id="mapTabs" class="tabs bottom" data-lat="39.907496" data-lng="-104.928127">
      <li><a class="activeTab" href="#" data-maptype="default"><span>Map</span></a></li>
      <li><a href="#" data-maptype="satellite"><span class="hidden-phone">Satellite</span><span class="visible-phone icon icon-globe"></span></a></li>
      <li><a href="#" class="tip" title="45&deg; North" data-maptype="satellite_45" data-tiltdir="n">N</a></li>
      <li><a href="#" class="tip" title="45&deg; East" data-maptype="satellite_45" data-tiltdir="e">E</a></li>
      <li><a href="#" class="tip" title="45&deg; South" data-maptype="satellite_45" data-tiltdir="s">S</a></li>
      <li><a href="#" class="tip" title="45&deg; West" data-maptype="satellite_45" data-tiltdir="w">W</a></li>
    </ul>

  </div>





  <div id="similarPropsRotater" class="similarPropsContainer shadow" data-cityname="Thornton" data-min="320003" data-max="339797" data-retsid="3cc1e47b-e787-409e-8606-750f7396e4f6">
    <div>
      <h6 class="unitTinyHeading">Similar homes <a class="btn btn-mini btn-transparent icon icon-search-3" href="https://www.porchlightgroup.com/Property/Search?St.v=Thornton&P.mi=320003&P.ma=339797">All</a></h6>
    </div>
    <ul class="similarPropsList loadingProps gridView clearfix"></ul>
  </div>

</div>
</div>



</div>
<footer id="mainFooter" class="mainFooter row-fluid">
  <div class="row-fluid">
    <div class="span1"><img src="/Img/Public/iconLantern.png" alt="PorchLight Real Estate Group" width="82"  /></div>
    <div class="span4">
      <ul class="footerLocations">
        <li class="phoneNum"><span>(303) 733-5335</span></li>
        <li>
          <a target="_blank" href="https://maps.google.com/maps?q=838+Broadway,+Denver,+CO+80203&ie=UTF8&hq=&hnear=838+Broadway,+Denver,+Colorado+80203&gl=us&t=h&vpsrc=0&z=14&iwloc=A&f=d&daddr=838+Broadway,+Denver,+CO+80203&geocode=%3BCQ3MvEnDJmSyFco6XgIdcQa--SmhDmM4KH9shzGU2cv31KdhXg">
            <span>Downtown Denver</span> 838 Broadway</a>
        </li>
        <li>
          <a target="_blank" href="https://maps.google.com/maps?q=250+Detroit+St.,+Denver,+CO+80206&ie=UTF8&hq=&hnear=250+Detroit+St,+Denver,+Colorado+80206&gl=us&t=h&vpsrc=0&z=14&iwloc=A&f=d&daddr=250+Detroit+St,+Denver,+CO+80206&geocode=%3BCaEzMBAb_nq5FR8VXgIdDIW--SlP5G9cln5shzGWUN1kEx-OhQ">
            <span>Cherry Creek</span> 250 Detroit St.</a>
        </li>
        <li>
          <a target="_blank" href="https://maps.google.com/maps?q=1023+East+9th+Ave.&ie=UTF-8&hq=&hnear=0x876c7ed01b9f6c93:0x91e0594c1bc01cf0,1023+E+9th+Ave,+Denver,+CO+80218&gl=us&daddr=1023+E+9th+Ave,+Denver,+CO+80218&ei=slaJUaPpOonZqQHrwoDYAQ&ved=0CDIQwwUwAA">
            <span>Capitol Hill</span> 1023 East 9th Ave.</a>
        </li>
        <li>
          <a target="_blank" href="https://maps.google.com/maps?q=2329+W+Main+St.,+Littleton,+CO+80120&ie=UTF8&hq=&hnear=2329+W+Main+St,+Littleton,+Arapahoe,+Colorado+80120&gl=us&t=h&vpsrc=0&z=14&iwloc=A&f=d&daddr=2329+W+Main+St,+Littleton,+CO+80120&geocode=%3BCZgOX4RssJJuFcV2XAIdrJe9-SmvilVaM4BshzHATmPbmpH3hg">
            <span>Littleton</span> 2329 West Main St.</a>
        </li>
        <li>
          <a target="_blank" href="https://maps.google.com/maps?daddr=747+S+University+Blvd+Denver,+CO+80209&hl=en&sll=39.614149,-105.01538&sspn=0.055938,0.098534&t=h&gl=us&mra=ls&z=17">
            <span>Bonnie Brae</span> 747 South University Blvd.</a>
        </li>
      </ul>
    </div>
    <div class="span4 footerNav">
      <nav class="clearfix">

        <ul class="footerMenu">

          <li><a href="https://www.porchlightgroup.com/Join">join the team</a></li>
          <li><a href="#" class="contactFormBtn" data-isdev="true" data-subject="[Website problem or suggestion]">site feedback</a></li>
          <li><a class="no-ajaxy" href="https://www.porchlightgroup.com/Account/EmployeeLogin">staff login</a></li>
        </ul>
      </nav>

    </div>
  </div>

  <div class="row-fluid smallPrint">
    <div class="span1">&nbsp;</div>
    <div class="span11">
      <img class="pull-right" src="/Img/Public/realtor_equalHousing_logos.png" height="53" width="101" alt="Realtor and Equal Housing Opportunity members" title="Realtor and Equal Housing Opportunity members" />
      <small>&nbsp;&copy; 2014 PorchLight Real Estate Group  <a href="https://www.porchlightgroup.com/About/Privacy">Privacy Policy</a> <a href="https://www.porchlightgroup.com/About/Disclaimer">Copyright &amp; Disclaimers</a></small>
    </div>


  </div>







</footer>

</div>
<div id="loadOverlay" class="loadOverlay"></div>
















</body>
</html>