<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>
  var map;

  function initialize(address) {
    var mapOptions = {
      zoom: 14
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    if (address) {
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
            map.setCenter(results[0].geometry.location);
            $('#myModalSearching').modal('hide');
            $('#myModalPlot').modal({backdrop: 'static', keyboard: false, show: true});
          } else {
            $('#myModalSearching').modal('hide');
            alert("No results found");
          }
        } else {
          $('#myModalSearching').modal('hide');
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    } else {
      // Try HTML5 geolocation
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = new google.maps.LatLng(position.coords.latitude,
              position.coords.longitude);

          var infowindow = new google.maps.InfoWindow({
            map: map,
            position: pos,
            content: 'This is where you are, based on HTML5 geolocation tag. This can be pretty off...if we port to full app i can tap into GPS but website can only use html5 which can kind of be off.'
          });

          map.setCenter(pos);
          $('#myModalSearching').modal('hide');
          $('#myModalPlot').modal({backdrop: 'static', keyboard: false, show: true});
        }, function () {
          handleNoGeolocation(true);
        });
      } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
      }
    }
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }

    var options = {
      map: map,
      position: new google.maps.LatLng(60, 105),
      content: content
    };

    var infowindow = new google.maps.InfoWindow(options);
    map.setCenter(options.position);
  }

  function manualAddress(address) {

    var map;

    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 8,
      center: latlng,
      mapTypeControl: true,
      mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
      navigationControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

  }

  $(function () {
    $('#myModal').modal({backdrop: 'static', keyboard: false, show: true});
    $('#useGeolocate').click(function () {
      $('#myModal').modal('hide');
      $('#myModalSearching').modal({backdrop: 'static', keyboard: false, show: true});
      initialize();
    });
    $('#useAddress').click(function () {
      $('#myModal').modal('hide');
      $('#myModalAddress').modal({backdrop: 'static', keyboard: false, show: true});

    });
    $('#btnSearchAddress').click(function () {
      $('#myModalAddress').modal('hide');
      initialize($('#searchAddress').val());
      $('#myModalSearching').modal({backdrop: 'static', keyboard: false, show: true});
    });
    $('#btnPopulateMap').click(function(){
      $.getJSON('/getall',function(data){
        console.log(data);
      });
    });
  });
</script>
<style>
  html, body, #map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
  }
</style>


<div id="map-canvas"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Set Starting Point (where should we center the map)</h4>
      </div>
      <div class="modal-body">
        <button type="button" id="useGeolocate" class="btn btn-default">Use HTML5 Geolocation</button>
        <button type="button" id="useAddress" class="btn btn-primary">Enter an Address</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalSearching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Geolocating...</h4>
      </div>
      <div class="modal-body">
        <p>
          OK...looking for you. Calm your tits
        </p>

        <div style="width: 100%; margin: auto;">
          <img src="http://www.iab.net/extra/adquickref/spinnerLarge.gif" style="margin: auto;"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Enter an address to set as center</h4>
      </div>
      <div class="modal-body">
        <p>
          THERE'S NO ERROR HANDLING YET! MUST BE GOOD ADDRESS OR APP WILL SHIT ITSELF!
        </p>
        <input type="text" class="x-large" id="searchAddress"/>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="btnSearchAddress">Search by address</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalPlot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Sweet!</h4>
      </div>
      <div class="modal-body">
        <p>
          Geolocation worked maybe? Hit the button below to hit the DB and get all the medical and retail places we have in our db.
          Eventually this will have checkboxes for medical, retail, open now, search radius, etc etc. right now, it just grabs everything from DB and plots it.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="btnPopulateMap">Find my green</button>
      </div>
    </div>
  </div>
</div>


